@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: specialmonster;
    src: url('/fonts/Pink Blue.ttf');
  }

  @font-face {
    font-family: kavivanar;
    src: url('/fonts/Kavivanar-Regular.ttf');
  }

  @font-face {
    font-family: openbrush;
    src: url('/fonts/OpenBrush.ttf');
  }

  h1 {
    @apply text-4xl;

    @apply font-openbrush;
  }

  h2 {
    @apply text-2xl;

    @apply font-openbrush;
  }

  h3 {
    @apply text-xl;

    @apply font-openbrush;
  }

  h4 {
    @apply text-lg;

    @apply font-openbrush;
  }
}

html,
body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  background-color: #330c45;
  color: white;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.lottie-svg-class {
  position: absolute !important;
  height: 100% !important;
  transform: scale(1.2) !important;
  width: 100% !important;
  z-index: -1 !important;
  animation: fadeIn 0.5s 1s ease both;
}

/* for screens bigger than 1500px */

.seperator {
  transform: scale(1.2);
}

.seperator__top {
  bottom: -20px;
}

.seperator__community__top {
  top: -30px;
}

@media (max-width: 600px) {
  .seperator {
    transform: scale(3);
  }

  .seperator__community__top {
    top: -20px;
  }
}

@media (min-width: 1500px) {
  .lottie-svg-class {
    transform: scale(1) !important;
  }

  .seperator__top {
    bottom: -50px;
  }
}

.fade-in {
  animation: fadeIn 0.3s 0.5s ease both;
  -webkit-animation: fadeIn 0.3s 0.5s ease both;
  -moz-animation: fadeIn 0.3s 0.5s ease both;
  -o-animation: fadeIn 0.3s 0.5s ease both;
  -ms-animation: fadeIn 0.3s 0.5s ease both;
}

.fade-in-3 {
  animation: fadeIn 0.5s 1s ease both;
  -webkit-animation: fadeIn 0.5s 1s ease both;
  -moz-animation: fadeIn 0.5s 1s ease both;
  -o-animation: fadeIn 0.5s 1s ease both;
  -ms-animation: fadeIn 0.5s 1s ease both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 0.25;
  }
  50% {
    color: 1;
  }
  100% {
    color: 0.25;
  }
}





/* test scroll */

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }