@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  @font-face {
    font-family: titletext;
    src: url('/fonts/Oswald-Bold.ttf');
  }

  @font-face {
    font-family: regulartext;
    src: url('/fonts/Louis\ George\ Cafe.ttf');
  }

  h1 {
    @apply text-5xl;
    @apply font-titletext;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  h2 {
    @apply text-2xl;
    @apply font-titletext;
    /* letter-spacing: 0.1em; */
    text-transform: uppercase;
  }

  h3 {
    @apply text-xl;
    @apply font-titletext;
    /* letter-spacing: 0.1em; */
    text-transform: uppercase;
  }

  h4 {
    @apply text-lg;
    @apply font-titletext;
    /* letter-spacing: 0.1em; */
    text-transform: uppercase;
  }

  p,
  div,
  span {
    @apply font-regulartext;
  }
}

html {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  overflow: auto;
}

body {
  overflow: hidden;
  background-color: #16293d;
  color: white;
  max-width: 2000px;
  margin: 0 auto;
}

/* show gradient__control for screens bigger than 2000px */
.gradient__control {
  display: none;
}

@media (min-width: 2000px) {
  .gradient__control {
    display: block;
  }
}

.animation {
  height: 100%;
  width: 100%;
}

.lottie-svg-class {
  position: absolute !important;
  height: 100% !important;
  transform: scale(1.1) !important;
  width: 100% !important;
  z-index: -1 !important;
  animation: fadeIn 0.5s 1s ease both;
}

/* for screens bigger than 1500px */

@media (max-width: 1500px) {
  .lottie-svg-class {
    transform: scale(1.2) !important;
  }
}

@media (min-width: 1500px) {
  .seperator__top {
    bottom: -50px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .two__token__lottie {
    bottom: -200px !important;
    width: 1000px;
  }
}

@media (min-width: 1500px) {
  .two__token__lottie {
    width: 100%;
  }
}

.fade-in {
  animation: fadeIn 0.3s 0.5s ease both;
  -webkit-animation: fadeIn 0.3s 0.5s ease both;
  -moz-animation: fadeIn 0.3s 0.5s ease both;
  -o-animation: fadeIn 0.3s 0.5s ease both;
  -ms-animation: fadeIn 0.3s 0.5s ease both;
}

.fade-in-3 {
  animation: fadeIn 0.5s 1s ease both;
  -webkit-animation: fadeIn 0.5s 1s ease both;
  -moz-animation: fadeIn 0.5s 1s ease both;
  -o-animation: fadeIn 0.5s 1s ease both;
  -ms-animation: fadeIn 0.5s 1s ease both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking {
  animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText {
  0% {
    opacity: 0.25;
  }
  50% {
    color: 1;
  }
  100% {
    color: 0.25;
  }
}

/* Shrink the whole screen when in mobile resolution */
@media (max-width: 500px) {
  html {
    font-size: 0.8em;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #16293d;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #16293d; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 3px solid #16293d; /* creates padding around scroll thumb */
}
